body { 
    font-family: Helvetica, sans-serif;
    font-weight: normal; 
}
.container1 {
    height: 200px;
    background-color: lightslategray;
    text-align: center; 
    color: white; 
   
    display: block; 
    align-items: center;
}
.container2 {
    height: 400px; 
}
